<% if current_user %>
<h1>Messages</h1>
  <ul id="chat">
    <%= render @messages %>
  </ul>
  <%= form_for Message.new, remote: true do |f| %>
    <%= f.text_field :content %>
    <%= f.submit "Send" %>
  <% end %>
<%= subscribe_to "/messages/new" %>

<% else %>
Hey! You need to be signed in to see these messages!<br>
<%= link_to "Sign in", new_user_session_path %>
<br>
<%= link_to "Sign up", new_user_registration_path %>
<% end %>